.socials__title{
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--background-color);
  }
  .socials__footer{
    display: flex;
    gap: 10px;

    &-link
    {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: #ffffff1a;
      color: var(--background-color);
      transition: background-color var(--transition-duration);
    }
    &-link:hover,
    &-link:focus
    {
      background-color: var(--accent-color);
    }
  }
  

  .socials__item-icon{
    fill: currentColor;
    width: 20px;
    height: 20px;
  }