.features {
    padding-bottom: 0;
    background-color: var(--background-color);
  }
  
  /* features */
  .features
  {
    &__item
  {
    width: 270px;
  }

  &__title {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.14;
    color: var(--title-text-color);
  }

  &__text {
    line-height: 1.7;
  }

  &__icon-position
  {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
    max-width: 450px;
    height: 120px;
    background-color: #F5F4FA;
  
  }

  &_icon
  {
    fill: currentColor;
  }

  @media screen and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__title {
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    &-icon__position {
      width: 354px;
    }

    &__item {
      width: calc((100% - 30px) / 2);
    }
  }

  @media screen and (min-width: 1200px) {
    &-icon__position {
      width: 270px;
    }

    &__item {
      width: calc((100% - 90px) / 4);
    }
  }
  }
